 <div class="container">
  <a routerLink="/analytics" class="analytics-link">📊 Аналитика</a>
    <div class="add-transaction">
      <h2>Новая транзакция</h2>

      <div class="type-buttons">
        <button 
          [class.active]="type() === 'expense'" 
          (click)="setType('expense')">
          Расход
        </button>
        <button 
          [class.active]="type() === 'income'" 
          (click)="setType('income')">
          Доход
        </button>
      </div>

      <div class="categories">
        @for (category of categories(); track category.id) {
          <div class="category" [class.active]="isActiveCategory(category.id)" (click)="setCategory(category.id)">
            <div class="icon" [style.backgroundColor]="category.color">
              {{ category.icon || '📌' }}
            </div>
            <div class="name">{{ category.name }}</div>
          </div>
        }
      </div>

      <input 
        type="number" 
        [(ngModel)]="amount" 
        placeholder="Сумма" />

      <input 
        type="text" 
        [(ngModel)]="description" 
        placeholder="Описание" />

      <button (click)="save()" [disabled]="!isValid()">
        Сохранить
      </button>
    </div>


      <h3>Последние транзакции</h3>
      <div class="transactions">
        @for (tx of transactions(); track tx.id) {
          <transaction-item [transaction]="tx" [categories]="categories()" (deleteTransaction)="delete($event)"></transaction-item>
        }
      </div>
    </div>