 <div class="container">
    <div class="add-transaction">
      <h2>Новая транзакция</h2>

      <div class="type-buttons">
        <button 
          [class.active]="type() === 'expense'" 
          (click)="setType('expense')">
          Расход
        </button>
        <button 
          [class.active]="type() === 'income'" 
          (click)="setType('income')">
          Доход
        </button>
      </div>

      <input 
        type="number" 
        [(ngModel)]="amount" 
        placeholder="Сумма" />

      <input 
        type="text" 
        [(ngModel)]="description" 
        placeholder="Описание" />

      <button (click)="save()" [disabled]="!isValid()">
        Сохранить
      </button>
    </div>


      <h3>Последние транзакции</h3>
      <div class="transactions">
        @for (tx of transactions(); track tx.id) {
          <transaction-item [transaction]="tx" (deleteTransaction)="delete($event)"></transaction-item>
        }
      </div>
    </div>